:root {
  --main-color: #fefefe;
  --sub-color: #fff7fb;
  --border-color: #ffe0ec;
  --border-color1: #ddd;
  --primary-color: #4a90e2;
  --secondary-color: #eba2e5;
  --danger-color: #e74c3c;
  --success-color: #2ecc71;
  --light-gray: #f7f7f7;
  --text-dark: #333;
}
html {
  overflow: overlay;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: #c03e7b #f0f0f0;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #c03e7b;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
}

a {
  text-decoration: none;
  color: var(--sub-color);
}

a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Segoe UI', 'Poppins', 'Courier New', Courier, monospace, Geneva,
    Verdana, sans-serif;
  background-color: var(--main-color);
  color: var(--text-dark);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-left: 4rem;
  flex-direction: column;
}

main {
  background: var(--main-color);
  border: 1px solid #ffe0ec;
  border-radius: 15px;
  box-shadow: 0 4px 4px var(--border-color);
  padding: 40px;
  width: calc(100% - 64px); /* start with collapsed sidebar width */
  height: 100vh;
  text-align: center;
  display: flex;
  flex: 1;
  transition: margin-left 0.3s ease, width 0.3s ease;
  margin-left: 64px; /* initial collapsed sidebar offset */
  box-sizing: border-box;
}

.toggle-btn,
.toggle-name-btn,
.toggle-desc-btn,
.toggle-supplier-btn,
.toggle-order-name-btn {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: 5px;
  text-decoration: none;
}
